<footer id="footer-content">
    <div id="f-content">
        <span class="footer-buckleup">© Buckle Up</span>
        <span class="footer-buckleup"><a href="/about">ABOUT</a></span>
        <span class="footer-buckleup"><a href="/contact">Contact</a></span>
    </div>
</footer>
</body>
</html>