<!DOCTYPE html>
<html>
    <head>
        <title>Shop Shoes</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" title="style" />
        <link rel="shortcut icon" href="assets/images/favicon.ico">
    </head>
    <body>
            <header id="index">
                <div id="index-header">
                    <div id="logo">
                        <a id ="logo-link" href="/">Buckle Up<img src="/images/shoes.png" alt="shoes" width="50" height="50"></a>
                    </div>
                    <div id="header-menu">
                        <h6 id="header-links"><a href="/products/new">Start Selling with us</a><a>Sign Up</a><a>Login</a></h6>
                    </div>
                    <hr>
                    <br>
                    <a id="shop-here-link" href="/products">Shop here</a>
                </div>
            </header>