<%-include('./partials/header.ejs')%>
            <section id="main-content">
                <p>Welcome to Buckle Up!</p>
                <p id="main-sub-content">Buckle Up is shoe enterprise website where you can shop all branded shoes. <br>we started our journey on Jan 20 2000. we have our outlets in 15 states across US.</p>
            </section>
<%-include('./partials/footer.ejs')%>