<%-include('./partials/header.ejs')%>
            <section id="main-content">
                <p>Contact Us</p>
                <p id="main-sub-content">Email: customercare@buckleup.com<br>Phone: +1 343-567-767</p>
            </section>
<%-include('./partials/footer.ejs')%>