<%-include('./partials/header.ejs')%>
<section id="main-content">
    <p><%= error.status%> Error</p>
    <p id="main-sub-content"><%= error.message %></p>
</section>
<%-include('./partials/footer.ejs')%>