<%-include('./partials/header.ejs')%>
            <section id="main-content">
                <p>Welcome to Buckle Up!</p>
                <p id="main-sub-content">Shop all branded shoes at affordable prices. Checkout our new offers.limited time only!!!</p>
            </section>
<%-include('./partials/footer.ejs')%>
            